* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  p{
    color: rgba(255, 255, 255, 0.5); /* Branco com 50% de transparência */
  }


.image-button {
    display: inline-block; /* Permite que a imagem se comporte como um botão */
    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    padding: 0; /* Remove o padding */
    margin: 0; /* Remove a margem */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    text-decoration: none; /* Remove o sublinhado do link */
}

  .container {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Cabeçalho */
  .header {
    background-color:#fbcfe8;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .header .logo {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .header .logo img {
    width: 40px;
    margin-right: 10px;
  }

  .header .search-box input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
  }

  /* Conteúdo principal */
  .content {
    display: flex;
    justify-content: space-between;
  }

  /* Coluna Esquerda */
  .left-column, .right-column {
    width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Coluna do Meio */
  .center-column {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /* Estilos dos blocos */
  .box {
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Tamanhos específicos */
  .box-notes {
    background-color:#c28aff;
    width: 100%;
    height: 350px;
  }

  .box-small {
    width: 80px;
    height: 80px;
   
  }

  .box-horizontal {
    background-color: #79aaf2;
    width: 100%;
    height: 100px;
  }

  .box-half {
    background-color: #d8b3f7;
    width: 90%;
    height: 130px;
    text-align: center;
    margin-right: 1.5%;
  }

  /* Estilos dos blocos individuais */
  .box-health {
    background: linear-gradient(to right,#7ed957, #0097b2);
  }
  
  .box-exercises {
    background-color: #ffd33b;
    color: #333;
  }

  .icon {
    width: 70px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    color: #fff;
}
.icon-box {
  width: 40px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  color: #fff;
}

.text {
    margin-top: 2px; /* Espaço entre a imagem e o texto */
    font-size: 12px; /* Tamanho da fonte do texto */
    color:#ffff;

}

  .box-books {
    background-color: #ad2066;
  }

  .box-chat {
    background-color: #029daf;
  }

  .box-classes {
    background-color: #2e59a7;
  }

  .box-content {
    background-color: #e04891;
  }

  .box-lives {
    background-color: #cb39ff;
  }

  .box-games {
    background-color: #ff5d33;
  }

  /* Estilo do texto das descrições */
  .box p {
    font-size: 0.8em;
    margin-top: 5px;
    font-weight: normal;
  }

  .icon {
    font-size: 1.5em;
    margin-bottom: 5px;
  }