* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fcd2e9;
    color: #333;
}

.container {
    width: 900px;
    padding: 30px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid #e9c0d8;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    background-color: #d63080;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    color: white;
}

#frase { 
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Para garantir que ocupe todo o espaço disponível */
}

.back-button {
    background: #e78eac;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 20px; /* Espaçamento entre o botão e o título */
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #d63080;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #9b1959;
    outline: none;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espaçamento entre checkbox e texto */
}

input[type="checkbox"] {
    accent-color: #d63080;
    width: 18px;
    height: 18px;
}

.add-button {
    background-color: #d63080;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.add-button:hover {
    background-color: #a81d5f;
}

.submit-button {
    background-color: #d63080;
    border: none;
    padding: 12px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #a81d5f;
}

.card {
    border: 1px solid #d63080;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0 10px;
    color: #d63080;
}
